<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>You are not logged in</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body class="text-center mt-5">
    <h1>You are not logged in</h1>
    <p><a href="/auth/login" class="btn btn-primary">Click here to login</a></p>
  </body>
</html>
